<section data-ng-controller="AnswersurveysController" data-ng-init="findAllSurvey()">
    <div class="page-header">
        <h1>Answer surveys</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="survey in surveys" data-ng-href="#!/answersurveys/{{survey._id}}" class="list-group-item">
            <div class="row">
                <div class="col-xs-6">
                    <h3 class="list-group-item-heading" data-ng-bind="survey.name"></h3>
                </div>
                <div class="col-xs-3">
                    <small class="list-group-item-text">
				        Started on: &nbsp;
				        <span data-ng-bind="survey.startTime | date:'medium'"></span>				        
			        </small>
                </div>
                <div class="col-xs-3">
                    <small class="list-group-item-text">
				        Expire at: &nbsp;
				        <span data-ng-bind="survey.endTime | date:'medium'"></span>
			        </small>
                </div>
            </div>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!surveys.$resolved || surveys.length">
    	No Surveys yet.
    </div>
</section>