<!--
 File name: thaks-answersurveys.client.view.html
 Author: Zhe Yan & Zida Bi
 Website name: Survey elephant
 Description: The thanks page that shows up when user submit the answer for each survey
 -->
  
<section data-ng-controller="AnswersurveysController">
    <header>
        <center>
            <div class="header-content">
                <div class="header-content-inner">
                   <!-- thank you message -->
                    <h1>Thanks for Answering Surveys!</h1>
                    <hr>
                    <!--link button back to the survey list  -->
                    <a href="/#!/answersurveys" class="btn btn-primary btn-xl page-scroll">Answer More</a>
                </div>
            </div>
        </center>
    </header>
</section>