<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
               <div class="col-xs-6">
                 <center>
                    <img class="img-responsive text-center" src="modules/core/img/brand/logo1.png">
                 </center>
               </div>
               <div class="col-xs-6">
                 <center>
                    <img class="img-responsive text-center" src="modules/core/img/brand/logo2.png">
                 </center>
               </div>
            <h1>Create Surveys, Get Answers!</h1>		
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Open-Source Full-Stack Solution For MEAN Applications
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg hidden-xs" ng-click="goToCreateSurvey()" target="_blank">Create Surveys <br> <small><small>(Login Required)</small></small></a>
				<a class="btn btn-primary btn-lg hidden-xs" ng-click="goToSurveyList()" target="_blank">View Your Survey Statistic <br> <small><small>(Login Required)</small></small></a>
                <a class="btn btn-primary btn-lg hidden-xs" ng-click="goToAnswerSurvey()" target="_blank">Answer Surveys <br> <small><small>(Anonymously)</small></small></a>
			</p>
		</div>
	</div>
</section>