<!-- 
File name : choose-template-survey.client.view.html
Author: Zhe Yan & Zida Bi
Website name: survey elephant
Description: html page for user to provide survey name and choose survey template
-->
  

<section data-ng-controller="SurveysController" data-ng-init="checkUserLogin()">
   <center>
   <!--page title-->
    <h1>
        Get Started with Your Survey!
    </h1>
   </center>
    <form class="form-horizontal col-md-5 col-md-offset-3" name="templateSelectionForm" novalidate>
        <fieldset>
            <!--Show text box to input survey name-->
            <div class="form-group">
                <label class="control-label" for="surveyTemplateName">Name</label>
                <div class="controls">
                    <input type="text" data-ng-model="surveyTemplateName" name="surveyTemplateName" id="surveyTemplateName" class="form-control" placeholder="Name" required>
                </div>
            </div>

            <div class="form-group">
                <!--Show all radio buttons of choose template-->
                <label class="control-label" for="name">Choose Your Survey Template:</label>
                <br>
                <div class="row col-md-5 col-md-offset-1">
                    <label class="radio">
                        <input type="radio" name="templateSelection" ng-model="radioSurveyTemplate" id="multipleChoiceRadio" value="multiple" required> Multiple Choice
                    </label>
                    
                    <!--
                    <label class="radio">
                        <input type="radio" name="templateSelection" ng-model="radioSurveyTemplate" id="agreeDisagreeRadio" value="agreeDisagree" required>Agree/Disagree
                    </label>
                    <label class="radio">
                        <input type="radio" name="templateSelection" ng-model="radioSurveyTemplate" id="shortAnswerRadio" value="shortAnswer" required>Short Answer  
                    </label>
                    
                    -->
                </div>
            </div>

            <!--submit button, disabled if required field is empty-->
            <div class="form-group">
                <button type="button" class="btn btn-success" ng-click="createTemplate()" ng-disabled="templateSelectionForm.$invalid" title="Next to Modify Survey Questions"><i class="glyphicon glyphicon-share-alt"></i>&nbsp;Next</button>  
            </div>

            <!--show error message-->
            <span style="color:red" ng-show="templateSelectionForm.$dirty && templateSelectionForm.$invalid">
                <span ng-show="templateSelectionForm.templateSelection.$error.required">You need to choose one template.</span>
                <span ng-show="templateSelectionForm.surveyTemplateName.$error.required">Survey name is required.</span>
            </span>

        </fieldset>
    </form>
</section>