<section data-ng-controller="SurveysController" data-ng-init="findOne()">
        <h1>Edit Survey</h1>
        <form name="questionaryForm">
                <div class="form-group">
                    <label class="control-label" for="name">Survey Name</label>
                    <input type="text" data-ng-model="survey.name" id="name" class="form-control" placeholder="Name" required>
                </div>

                 <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" role="tablist" data-ng-model="survey.questions">
                  <div class="panel panel-default" ng-repeat="question in survey.questions">
                    <div class="panel-heading" role="tab" id="{{'heading' + survey.questions.indexOf(question)}}">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="{{'#collapse' + survey.questions.indexOf(question)}}" aria-expanded="false" aria-controls="{{'collapse' + survey.questions.indexOf(question)}}">
                          <label>Q{{survey.questions.indexOf(question) + 1}}: Multiple Choice</label>                  
                        </a>  
                        <button type="button" class="btn btn-success btn-circle" ng-click="addQueForUpdate($index)"><i class="glyphicon glyphicon-plus"></i></button>  
                        <button type="button" class="btn btn-warning btn-circle" ng-click="removeQueForUpdate($index)"><i class="glyphicon glyphicon-remove"></i></button>    
                        <input type="text" class="form-control" placeholder="Enter your question" ng-model="question.questionTxt" required ng-trim="false">	          
                      </h4>              
                    </div>               
                    <div id="{{'collapse' + survey.questions.indexOf(question)}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="{{'heading' + survey.questions.indexOf(question)}}">
                      <div class="panel-body">
                        <div class="form-group"> 

                            <button type="button" class="btn btn-success btn-circle" ng-click="addRadioForUpdate(0, $index)" ng-show="addBtnOnNoRdoForUpdate($index)"><i class="glyphicon glyphicon-plus"></i></button>                                                                   

                            <div class="radio" ng-repeat="n in question.questionOptions">
                                <label>
                                    <input type="radio" name="{{'questionRadios' + survey.questions.indexOf(question)}}" id={{question.questionOptions.indexOf(n)}} disabled>
                                    <input type="text" class="form-control" placeholder="Enter answer choice" ng-model="n.optionTxt" required ng-trim="false">
                                </label>
                                <button type="button" class="btn btn-success btn-circle" ng-click="addRadioForUpdate($index, $parent.$index)"><i class="glyphicon glyphicon-plus"></i></button>
                                <button type="button" class="btn btn-warning btn-circle" ng-click="removeRadioForUpdate($index, $parent.$index)"><i class="glyphicon glyphicon-remove"></i></button>
                            </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <center>
                    <button type="button" class="btn btn-success btn-circle" ng-click="addQueForUpdate(survey.questions.length)"><i class="glyphicon glyphicon-plus"></i></button>  
                </center>
                
                <br>
                
                <center>
                    <button type="button" class="btn btn-danger" ng-click="backToCreateSurvey()"><i class="glyphicon glyphicon-remove-sign"></i>&nbsp;Back</button> 
                    <button type="button" class="btn btn-success" ng-click="update()" ng-disabled="questionaryForm.$invalid || !validateSurveyFormForUpdate()"><i class="glyphicon glyphicon-share-alt"></i>&nbsp;Update</button>    
                </center> 

				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
        </form>
</section>