<section data-ng-controller="SurveysController">
    <!--This is the view to Set survey lifetime -->

    <div class="row">
        <form class="form-horizontal" name="lifeTimeForm" data-ng-submit="submit()" novalidate>
            <fieldset>
                <!--set suevey start time-->
                <div class="form-group">
                    <div class="dropdown col-md-5 col-md-offset-3">
                        <h3>Survey start time</h3>
                        <a class="dropdown-toggle" id="surveyStartDropDown" role="button" data-toggle="dropdown" data-target="#" href="#">
                            <div class="input-group"><input type="text" name="surveyStartTime" class="form-control" data-ng-model="data.dateDropDownInput" required><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="data.dateDropDownInput" data-datetimepicker-config="{ dropdownSelector: '#surveyEndDropDown' }"/>
                        </ul>
                    </div>
                </div>

                <!--set suevey end time-->
                <div class="form-group">
                    <div class="dropdown col-md-5 col-md-offset-3">
                        <h3>Survey end time</h3>
                        <a class="dropdown-toggle" id="surveyEndDropDown" role="button" data-toggle="dropdown" data-target="#" href="#">
                            <div class="input-group"><input type="text" class="form-control" name="surveyEndTime" data-ng-model="data.dateDropDownInput1" required><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="data.dateDropDownInput1"/>
                        </ul>
                    </div>
                </div>

                <!--submit button, disabled if required field(start time and end time) is empty-->
                <div class="form-group">
                    <input type="submit" class="btn btn-default" ng-disabled="lifeTimeForm.$invalid">
                </div>

                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
                
                <span class="error" ng-show="lifeTimeForm.surveyStartTime.$error.required || lifeTimeForm.surveyEndTime.$error.required">
                    Required!</span><br>

             <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
  <span ng-show="myForm.email.$error.required">Email is required.</span>
  <span ng-show="myForm.email.$error.email">Invalid email address.</span>
  </span>
           
            </fieldset>
        </form>
    </div>
</section>