<section data-ng-controller="SurveysController" data-ng-init="findOne()">
    <div class="page-header">
        <form name="questionaryForm">
            <h1 data-ng-bind="survey.name"></h1>
            <h4>Number of Respondents: {{calTotal(survey.questions[0].questionOptions.length)}}</h4>

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" role="tablist">
                <div class="panel panel-default" ng-repeat="question in survey.questions" ng-init="questionGroup=survey.questions">
                    <div class="panel-heading" role="tab" id="{{'heading' + questionGroup.indexOf(question)}}">
                        <h4 class="panel-title">
                            <label>Q{{questionGroup.indexOf(question) + 1}}: {{question.questionTxt}}</label>                                     
                        </h4>              
                    </div>               
                    <div class="panel-body">
                            <div class="form-group">                                                   
                                <div class="radio" ng-repeat="n in question.questionOptions">
                                    <h5>{{n.optionTxt}}</h5>
                                    <div class="progress">
                                      <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{calStatistic(questionGroup.indexOf(question), question.questionOptions.indexOf(n))}}" aria-valuemin="0" aria-valuemax="100" style="width:{{calStatistic(questionGroup.indexOf(question), question.questionOptions.indexOf(n))}}">
                                          {{calStatistic(questionGroup.indexOf(question), question.questionOptions.indexOf(n)) + " " +  "(" + n.answerCount + ")"}}
                                      </div>
                                    </div>         
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == survey.user._id))">
        <a class="btn btn-primary" href="/#!/surveys/{{survey._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <small>
        <em class="text-muted">
            Posted on
            <span data-ng-bind="survey.created | date:'mediumDate'"></span>
            by
            <span data-ng-bind="survey.user.displayName"></span>
        </em>
    </small>
</section>
